#topwrap{
	background-color: #6A7D99;
	padding-top: 20px;
}

body{
	background-color: white;
}

#topwrap p,
#topwrap h1{
	color: white;
}

#topwrap h1{
	font-size: 30pt;
}

#topwrap h2{
	color: #DEDEDE;
	font-weight: normal;
}

.tabla{
	display: table;
	width: 100%;
	vertical-align: middle;
}

.same{
	display: table-cell;
	vertical-align: middle;
	float: none;
}

#blanco img{
	width: 100%;
	height: 50px;
}

#cara{
	border: 3px solid white;
}

#contact i{
	padding-right: 10px;
	color: white;
}

#contact p{
	font-size: 14pt;
	color: #DEDEDE;
}

#nombre{
	padding-bottom: 30px;
}

.title{
	text-transform: uppercase;
	font-weight: bold;
}

.titlegrey{
	text-transform: uppercase;
	font-weight: bold;
	color: #FF614D;
	font-size: 12pt;
	letter-spacing: .1em;
}

.where{
	color: #767676;
}

.curso{
	margin-bottom: 10px;
}

.mb{
	margin-bottom: 20px;
}

p{
	font-size: 12pt;
}

#back{
	background-color: #6A7D99;
}

#back a{
	color: white;
	font-weight: bold;
}

#back a:hover{
	text-decoration: underline;
}

#back p{
	margin-bottom: 0;
}

#pubs a{
	color: black;
}
