html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

#nombre img{
	width: 180px;
	height: 180px;
	padding: 20px;
}

#content{
	display: table;
	height: 100vh;
	width: 100vw;
}

#content [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

#wrapper{
	height: 100%;
	width: 100%;
}

.nombre h1{
    margin-top: 0;
    margin-bottom: 0;
	color: white;
}

.nombre{
	background-color: #09B9AE;
}

#menu a{
	color: #FF614D;
	border-bottom: 2px solid transparent;
}

#menu a:hover, #menu .active a{
	color: black;
	border-bottom: 2px solid black;
}

#proyectos [class*="col-"] {
	float: left;
	display: block;
}

#proyectos img{
	float: left;
	display: block;
	margin: 0 auto;
	padding: 20px;
	width: 100%;
}

.item img{
	border-bottom: 4px solid transparent;
	padding-bottom: 10px;
}

.item:hover img{
	border-bottom: 4px solid black;
}

.item h2{
	letter-spacing: .4px;
	font-size: 14pt;
	font-weight: bold;
}

.title{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 11pt;
}

#contact a{
	font-size: 14pt;
	color: #767676;
}

#contact a:hover{
	color: black;
	text-decoration: underline;
}