/* ==========================================================================
MAIN CSS - SHARED BY ALL PAGES
Alberto Rico
========================================================================== */

/* ==========================================================================
Fonts from Google Fonts
========================================================================== */

@font-face {
    font-family: Leitura;
    src: url(../fonts/Leitura.woff) format("woff");
}

/* ==========================================================================
Main elements
========================================================================== */

body {
    font-family: 'Leitura',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Leitura';
    color: #272423;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
    color: color;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    color: #95a5a6;
}

/* Paragraph & Typographic */

label {
    font-weight: 400;
}

p {
    font-family: "Leitura","Helvetica";
    font-size: 21px;
    line-height: 31px;
    color: black;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
}

i {
    margin: 8px;
    color: #3498db;
}

figcaption {
    text-align: center;
}

/* Text & images positions and styles */

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}

.right {
    text-align: right;
}

.img-centered {
    display: block;
    margin: 0 auto;
}

.btncenter {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

/* Links */

a {
    color: #3498db;
    -webkit-transition: color 0.1s ease-in,background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in,background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in,background 0.1s ease-in;
    -o-transition: color 0.1s ease-in,background 0.1s ease-in;
    transition: color 0.1s ease-in,background 0.1s ease-in;
    word-wrap: break-word;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
    color: #7b7b7b;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in,background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in,background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in,background 0.1s ease-in;
    -o-transition: color 0.1s ease-in,background 0.1s ease-in;
    transition: color 0.1s ease-in,background 0.1s ease-in;
}

/* Horizontal lines */

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.hline {
    border-bottom: 2px solid RGBA(48,66,88,0.6);
}

/* ==========================================================================
NAVBAR
========================================================================== */

/* Code to make navbar collapse on certain pixels, to override Bootstrap */

@media(max-width:992px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #footer-dark {
        padding-bottom: 70px;
    }
}

/* Other navbar css */

.navbar {
    font-size: 14px;
    background-color: transparent;
    transition: background-color 0.4s ease;
}

.navbar-right a:hover {
    background-color: none !important;
    transition: background-color 0.3s ease;
}

.navbar-inverse li {
    text-transform: uppercase;
    font-weight: normal;
}

.nav li:active {
    background-color: #656776;
}

.navbar-nav > .active > a {
    color: white;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
    text-transform: uppercase;
    line-height: 45px;
    color: #E4E4E4;
}

.navbar a:hover {
    color: white !important;
}

.navbar li {
    transition: background-color 0.3s ease;
}

/* ==========================================================================
HELPERS
========================================================================== */

.bold{
    font-weight: bold;
}

.noshadow h1,
.noshadow h2,
.noshadow h3,
.noshadow h4 {
    text-shadow: none !important;
}

.mt {
    margin-top: 40px;
    margin-bottom: 40px;
}

.pd {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pb{
    padding-bottom: 20px;
}

.pt{
    padding-top: 20px;
}

.pdsides {
    padding-right: 20px;
    padding-left: 20px;
}

.sep {
    padding-bottom: 30px;
}

.nopadding {
    padding: 0 !important;
}

.nolist {
    padding-left: 0;
    list-style: none;
}

.nolist li {
    display: inline-block;
    float: left;
}

.view {
    opacity: 1;
}

.borderright {
    border-right: 1px solid white;
}

.uppercase {
    text-transform: uppercase;
}

.nomargin {
    margin-bottom: 0;
}

/* ==========================================================================
Separators
========================================================================== */

.separator {
    height: 14px;
    opacity: 1;
    background: url(../img/separator.png) no-repeat center bottom;
}

#separatorwhite {
    height: 10px;
    background: url(../img/borderwhite.png) no-repeat center bottom;
}

/* ==========================================================================
Footer & Download Now
========================================================================== */

footer hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #444F5C;
}

.copy a,
.copy p {
    color: #969BA3 !important;
}

.copy a:hover {
    color: white !important;
}

#footer-dark {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #303B49;
}

#footer-dark a {
    color: #9399A1;
    transition: color 0.5s ease;
}

#footer-dark a:hover {
    color: white;
    transition: color 0.5s ease;
}

#footer-dark li {
    list-style: none;
    color: #9399A1;
}

#footer-dark ul {
    padding-left: 0;
}

#footer-dark p {
    margin-bottom: 0;
    padding-bottom: 15px;
    color: #9399a1;
}

#footer-dark h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

footer li {
    list-style: none;
}

footer ul {
    padding-left: 0;
}

footer i {
    color: rgb(104,156,215);
}

footer {
    padding-bottom: 20px;
}

/* ==========================================================================
Colours
========================================================================== */

.white {
    color: white;
}

.whitesmoke {
    color: #B0B0B0;
}

.black {
    color: black;
}

.red {
    color: red;
}

/* ==========================================================================
Nav Tabs
========================================================================== */

.nav-tabs > li,
.nav-pills > li {
    display: inline-block;
    float: none;
    zoom: 1; /* hasLayout ie7 trigger */
    *display: inline; /* ie7 fix */
}

.nav-tabs,
.nav-pills {
    text-align: center;
}

.nav-tabs li:active {
    background-color: transparent !important;
}

/* ==========================================================================
Anchor CSS hack
========================================================================== */

a.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -87px;
}

/* ==========================================================================
MISCELLANEOUS
========================================================================== */

#image img {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

#content li {
    padding: 5px;
}

.listpadding li {
    padding: 5px;
}

.btn-success {
    border-color: #3d8b5f;
    background-color: #3d8b5f;
    transition: all 0.5s ease;
}

/* ==========================================================================
Arrows
========================================================================== */

.arrow-up {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 19px solid rgba(255,255,255,0);
    border-bottom: 19px solid #00A8D6;
    border-left: 19px solid rgba(255,255,255,0);
}

.arrow-down {
    width: 0;
    height: 0;
    border-top: 20px solid #f00;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid rgb(255,255,255);
    border-bottom: 10px solid transparent;
}

.visible {
    opacity: 1;
    background-color: rgba(16,16,18,0.85) !important;
    transition: all 0.4s ease;
    -webkit-transform: translateZ(0);
}

.visibleview {
    opacity: 1;
    background-color: rgb(49,67,89) !important;
    transition: all 0.4s ease;
    -webkit-transform: translateZ(0);
}

/* ==========================================================================
HEADING
========================================================================== */

.heading {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blue {
    margin-bottom: 20px;
    padding-top: 89px;
    padding-bottom: 30px;
    background-color: #50618B;
    background-image: url(../img/header.png);
}

.blue h1 {
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    color: white;
}

.blue p {
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    color: #D7DEE7;
}

/* ==========================================================================
MARKETING
========================================================================== */

#marketing {
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #689CD7;
}

#marketing p {
    margin-bottom: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    color: white;
}

#marketing h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    letter-spacing: .7px;
    color: white;
}

#marketing i {
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    font-size: 3em;
    color: white;
}

.content-box {
    position: relative; /* So we can position the banner within the box */
    width: 100%; /* assumes you have this in a container with a set width */
    height: auto;
    margin: 0 auto;
    background-color: #D7DEE7;
}

#ribbon-container {
    position: absolute;
    top: 15px;
    right: -20px;
    overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
    font-size: 18px; /* font-size and line-height must be equal so we can account for the height of the banner */
    line-height: 18px;
}

#ribbon-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 29px solid rgba(0,0,0,.3) ; /* These 4 border properties create the first part of our drop-shadow */
    border-right: 29px solid rgba(0,0,0,.3);
    border-bottom: 29px solid rgba(0,0,0,.3);
    border-left: 29px solid transparent;
}

#ribbon-container:after {
    content: "";
    display: block;
    position: absolute;
    right: 3px;
    bottom: -3px;
    left: 58px;
    height: 3px;
    background: rgba(0,0,0,.3);
}

#ribbon-container a {
    display: block;
    position: relative; /* allows us to position our pseudo-elements properly */
    height: 58px;
    margin-left: 29px;
    padding: 20px;
    overflow: visible;
    text-decoration: none;
    color: #fff;
    background: #0089d0;
}

#ribbon-container a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid #004a70;
    border-right: 15px solid transparent;
}

#ribbon-container a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -29px;
    width: 0;
    height: 0;
    border-top: 29px solid #0089d0;
    border-right: 29px solid transparent;
    border-bottom: 29px solid #0089d0;
    border-left: 29px solid transparent;
}

#ribbon-container a:hover {
    background: #0089d0;
}

#ribbon-container a:hover:before {
    border-top: 29px solid #0089d0;
    border-bottom: 29px solid #0089d0;
}

#subscribe {
    padding-right: 18px;
    padding-left: 18px;
}

.btn {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3) !important;
}

button.purechat-button-expand {
    display: inline-block;
    height: auto !important;
    margin-bottom: 0;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-color: #3d8b5f;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #3d8b5f;
    background-image: none;
    transition: none;
    cursor: pointer;
    -moz-user-select: none;
}

.radio,
.checkbox {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    min-height: 20px;
}

.address img {
    width: 100%;
    max-width: 300px;
}

.navbar-toggle {
    font-size: 20px;
    color: white !important;
}

.navbar-collapse.in.visible {
    opacity: 1;
    background-color: transparent;
}

.navbar-collapse.in:not(.visible) {
    opacity: 1;
    background-color: rgba(16,16,18,0.85);
}

.line-title {
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto 20px;
}